<!DOCTYPE html>

<html>
<head>
  <title>Goer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" href="http://ob2gkxp8x.bkt.clouddn.com/article.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1 class="center">Welcome to Goer</h1>
  </header>


  <p><a href="#">工具集</a></p>

  <blockquote>
    <a href="/json-diff">json对比工具</a><br>
    <a href="#">todo1</a><br>
    <a href="#">todo2</a><br>
    <a href="#">todo3</a>
  </blockquote>


  <p><a href="#">电子书</a></p>

  <blockquote>
    <a href="http://ob2gkxp8x.bkt.clouddn.com/books/LinuxShell.pdf">LinuxShell</a><br>
    <a href="http://ob2gkxp8x.bkt.clouddn.com/books/Go语言编程.pdf">Go语言编程</a><br>
    <a href="http://ob2gkxp8x.bkt.clouddn.com/books/ARM嵌入式系统基础教程.pdf">ARM嵌入式系统基础教程</a><br>

  </blockquote>
  <footer>
    <div class="author">
      Official website:
      <a href="http://{{.Website}}">{{.Website}}</a> /
      Contact me:
      <a class="email" href="mailto:{{.Email}}">{{.Email}}</a>
    </div>
  </footer>
  <div class="backdrop"></div>
</body>
</html>
