<!DOCTYPE html>

<html>
<head>
  <title>Goer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" href="http://oatcmhpj0.bkt.clouddn.com/article.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1 class="center">Welcome to Goer</h1>
  </header>

  <div id="path">
    <a href="http://www.itlearner.com">IT学习者</a>
    <a href="../">技术文档</a>
    <a href="../perl/">Perl教程</a>
  </div>
  <p align="center">目录</p>
  <p align="center">第一部分  Perl语言</p>
  <p><a href="perl1.htm">第一章 概述</a></p>

  <blockquote>
    <a href="perl1.htm#1、Perl是什么?">一、Perl是什么?</a><br>
    <a href="perl1.htm#2、Perl在哪里?">二、Perl在哪里?</a><br>
    <a href="perl1.htm#3、运行"> 三、运行</a><br>
    <a href="perl1.htm#4、注释：">四、注释</a>
  </blockquote>

  <p><a href="perl2.htm">第二章 简单变量</a></p>

  <blockquote>
    <a href="perl2.htm#1、整型"> 一、整型</a><br>
    <a href="perl2.htm#二、浮点数">二、浮点数</a><br>
    <a href="perl2.htm#三、字符串">三、字符串</a>
  </blockquote>

  <p><a href="perl3.htm">第三章 操作符</a></p>

  <blockquote>
    <a href="perl3.htm#一、算术操作符">一、算术操作符</a><br>
    <a href="perl3.htm#二、整数比较操作符">二、整数比较操作符</a><br>
    <a href="perl3.htm#三、字符串比较操作符">三、字符串比较操作符</a><br>
    <a href="perl3.htm#四、逻辑操作符">四、逻辑操作符</a><br>
    <a href="perl3.htm#五、位操作符">五、位操作符</a><br>
    <a href="perl3.htm#六、赋值操作符">六、赋值操作符</a><br>
    <a href="perl3.htm#七、自增自减操作符">七、自增自减操作符</a><br>
    <a href="perl3.htm#八、字符串联结和重复操作符">八、字符串联结和重复操作符</a><br>
    <a href="perl3.htm#九、逗号操作符">九、逗号操作符</a><br>
    <a href="perl3.htm#十、条件操作符">十、条件操作符</a><br>
    <a href="perl3.htm#十一、操作符的次序">十一、操作符的次序</a>
  </blockquote>

  <p><a href="perl4.htm">第四章 列表和数组变量 </a></p>

  <blockquote>
    <a href="perl4.htm#一、列表"> 一、列表</a><br>
    <a href="perl4.htm#二、数组--列表的存贮">二、数组--列表的存贮</a><br>
    &nbsp;&nbsp;<a href="perl4.htm#1、数组的存取">1、数组的存取</a><br>
    &nbsp;&nbsp;<a href="perl4.htm#2、字符串中的方括号和变量替换">2、字符串中的方括号和变量替换</a><br>
    &nbsp;&nbsp;<a href="perl4.htm#3、列表范围：">3、列表范围</a><br>
    &nbsp;&nbsp;<a href="perl4.htm#4、数组的输出：">4、数组的输出</a><br>
    &nbsp;&nbsp;<a href="perl4.htm#5、列表/数组的长度">5、列表/数组的长度</a><br>
    &nbsp;&nbsp;<a href="perl4.htm#6、子数组">6、子数组</a> <br>
    &nbsp;&nbsp;<a href="perl4.htm#7、有关数组的库函数">7、有关数组的库函数</a>
  </blockquote>

  <p><a href="perl5.htm">第五章 文件读写 </a></p>

  <blockquote>
    <a href="perl5.htm#一、打开、关闭文件">一、打开、关闭文件</a><br>
    <a href="perl5.htm#二、读文件">二、读文件</a><br>
    <a href="perl5.htm#三、写文件">三、写文件</a><br>
    <a href="perl5.htm#四、判断文件状态">四、判断文件状态</a><br>
    <a href="perl5.htm#五、命令行参数">五、命令行参数</a><br>
    <a href="perl5.htm#六、打开管道">六、打开管道</a>
  </blockquote>

  <p><a href="perl6.htm">第六章 模式匹配</a></p>

  <blockquote>
    <a href="perl6.htm#一、简介"> 一、简介</a><br>
    <a href="perl6.htm#二、匹配操作符"> 二、匹配操作符</a><br>
    <a href="perl6.htm#三、模式中的特殊字符">三、模式中的特殊字符</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#1、字符 +">1、字符 +</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#2、字符 []和[^]">2、字符 []和[^]</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#3、字符 *和?">3、字符 *和?</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#4、转义字符">4、转义字符</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#5、匹配任意字母或数字">5、匹配任意字母或数字</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#6、锚模式">6、锚模式</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#7、模式中的变量替换">7、模式中的变量替换</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#8、字符范围转义前缀">8、字符范围转义前缀</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#9、匹配任意字符">9、匹配任意字符</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#10、匹配指定数目的字符">10、匹配指定数目的字符</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#11、指定选项">11、指定选项</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#12、模式的部分重用">12、模式的部分重用</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#13、转义和特定字符的执行次序">13、转义和特定字符的执行次序</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#14、指定模式定界符">14、指定模式定界符</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#15、模式次序变量">15、模式次序变量</a><br>
    <a href="perl6.htm#四、模式匹配选项">四、模式匹配选项</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#1、匹配所有可能的模式(g选项)">1、匹配所有可能的模式(g选项)</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#2、忽略大小写(i选项)例">2、忽略大小写(i选项)例</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#3、将字符串看作多行(m选项)">3、将字符串看作多行(m选项)</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#4、只执行一次变量替换例">4、只执行一次变量替换例</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#5、将字符串看作单行例">5、将字符串看作单行例</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#6、在模式中忽略空格">6、在模式中忽略空格</a><br>
    <a href="perl6.htm#五、替换操作符"> 五、替换操作符</a><br>
    <a href="perl6.htm#六、翻译操作符"> 六、翻译操作符</a><br>
    <a href="perl6.htm#七、扩展模式匹配">七、扩展模式匹配</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#1、不存贮括号内的匹配内容">1、不存贮括号内的匹配内容</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#2、内嵌模式选项">2、内嵌模式选项</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#3、肯定的和否定的预见匹配">3、肯定的和否定的预见匹配</a><br>
    &nbsp;&nbsp;<a href="perl6.htm#4、模式注释">4、模式注释</a><br>
  </blockquote>

  <p><a href="perl7.htm">第七章 控制结构</a></p>

  <blockquote>
    <a href="perl7.htm#一、条件判断"> 一、条件判断</a><br>
    <a href="perl7.htm#二、循环："> 二、循环：</a><br>
    &nbsp;&nbsp;<a href="perl7.htm#1、while循环">1、while循环</a><br>
    &nbsp;&nbsp;<a href="perl7.htm#2、until循环">2、until循环</a><br>
    &nbsp;&nbsp;<a href="perl7.htm#3、类C的for循环">3、for循环</a> <br>
    &nbsp;&nbsp;<a href="perl7.htm#4、针对列表(数组)每个元素的循环">4、针对列表(数组)每个元素的foreach循环</a><br>
    &nbsp;&nbsp;<a href="perl7.htm#5、do循环">5、do循环</a> <br>
    &nbsp;&nbsp;<a href="perl7.htm#6、循环控制">6、循环控制</a><br>
    &nbsp;&nbsp;<a href="perl7.htm#7、传统的goto label;语句。">7、传统的goto语句</a><br>
    <a href="perl7.htm#三、单行条件"> 三、单行条件</a><br>
  </blockquote>

  <p><a href="perl8.htm">第八章 子程序</a></p>

  <blockquote>
    <a href="perl8.htm#一、定义"> 一、定义</a><br>
    <a href="perl8.htm#二、调用"> 二、调用</a><br>
    &nbsp;&nbsp;<a href="perl8.htm#1、用&amp;调用"> 1、用&amp;调用</a><br>
    &nbsp;&nbsp;<a href="perl8.htm#2、先定义后调用"> 2、先定义后调用</a><br>
    &nbsp;&nbsp;<a href="perl8.htm#3、前向引用"> 3、前向引用</a><br>
    &nbsp;&nbsp;<a href="perl8.htm#4、用do调用"> 4、用do调用</a><br>
    <a href="perl8.htm#三、返回值"> 三、返回值</a><br>
    <a href="perl8.htm#四、局部变量"> 四、局部变量</a><br>
    <a href="perl8.htm#五、子程序参数传递">五、子程序参数传递</a><br>
    &nbsp;&nbsp;<a href="perl8.htm#1、形式"> 1、形式</a><br>
    &nbsp;&nbsp;<a href="perl8.htm#2、传送数组"> 2、传送数组</a><br>
    <a href="perl8.htm#六、递归子程序"> 六、递归子程序</a><br>
    <a href="perl8.htm#七、用别名传递数组参数">七、用别名传递数组参数</a><br>
    <a href="perl8.htm#八、预定义的子程序">八、预定义的子程序</a><br>
  </blockquote>

  <p><a href="perl9.htm">第九章 关联数组(哈希表)</a></p>
  <blockquote>
    <a href="perl9.htm#1"> 一、数组变量的限制</a><br>
    <a href="perl9.htm#2"> 二、定义</a><br>
    <a href="perl9.htm#3"> 三、访问关联数组的元素</a><br>
    <a href="perl9.htm#4"> 四、增加元素</a><br>
    <a href="perl9.htm#5"> 五、创建关联数组</a><br>
    <a href="perl9.htm#6"> 六、从数组变量复制到关联数组</a><br>
    <a href="perl9.htm#7"> 七、元素的增删</a><br>
    <a href="perl9.htm#8"> 八、列出数组的索引和值</a><br>
    <a href="perl9.htm#9"> 九、用关联数组循环</a><br>
    <a href="perl9.htm#10"> 十、用关联数组创建数据结构</a><br>
    &nbsp; <a href="perl9.htm#10.1"> 1、(单)链表</a><br>
    &nbsp; <a href="perl9.htm#10.2"> 2、结构</a><br>
    &nbsp; <a href="perl9.htm#10.3"> 3、树</a><br>
  </blockquote>

  <p><a href="perl10.htm">第十章 格式化输出</a></p>
  <blockquote>
    <a href="perl10.htm#1">一、定义打印格式</a><br>
    <a href="perl10.htm#2">二、显示打印格式</a><br>
    <a href="perl10.htm#3">三、在打印格式中显示值</a><br>
    &nbsp; <a href="perl10.htm#3.1">1、通用的打印格式</a><br>
    &nbsp; <a href="perl10.htm#3.2">2、格式和局域变量</a><br>
    &nbsp; <a href="perl10.htm#3.3">3、选择值域格式</a><br>
    &nbsp; <a href="perl10.htm#3.4">4、输出值域字符</a><br>
    <a href="perl10.htm#4">四、输出到其它文件</a><br>
    <a href="perl10.htm#5">五、分页</a><br>
    <a href="perl10.htm#6">六、格式化长字符串</a><br>
    <a href="perl10.htm#7">七、用printf格式化输出</a><br>
  </blockquote>

  <p><a href="perl11.htm">第十一章 文件系统</a></p>
  <blockquote>
    <a href="perl11.htm#1">一、文件输入/输出函数</a><br>
    &nbsp; <a href="perl11.htm#1.1">1、基本I/O函数</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.1">1)open函数</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.2">2)用open重定向输入</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.3">3)文件重定向</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.4">4)指定读写权限</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.5">5)close函数</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.6">6)print, printf和write函数     </a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.7">7)select函数</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.8">8)eof函数</a><br>
    &nbsp;  &nbsp; <a href="perl11.htm#1.1.9">9)间接文件变量</a><br>
    &nbsp; <a href="perl11.htm#1.2">2、跳过和重读数据</a><br>
    &nbsp; <a href="perl11.htm#1.3">3、系统读写函数</a><br>
    &nbsp; <a href="perl11.htm#1.4">4、用getc读取字符</a><br>
    &nbsp; <a href="perl11.htm#1.5">5、用binmode读取二进制文件</a><br>
    <a href="perl11.htm#2">二、目录处理函数</a><br>
    &nbsp; <a href="perl11.htm#2.1">1、mkdir</a><br>
    &nbsp; <a href="perl11.htm#2.2">2、chdir</a><br>
    &nbsp; <a href="perl11.htm#2.3">3、opendir</a><br>
    &nbsp; <a href="perl11.htm#2.4">4、closedir</a><br>
    &nbsp; <a href="perl11.htm#2.5">5、readdir</a><br>
    &nbsp; <a href="perl11.htm#2.6">6、telldir</a><br>
    &nbsp; <a href="perl11.htm#2.7">7、seekdir</a><br>
    &nbsp; <a href="perl11.htm#2.8">8、rewinddir</a><br>
    &nbsp; <a href="perl11.htm#2.9">9、rmdir</a><br>
    <a href="perl11.htm#3">三、文件属性函数</a><br>
    &nbsp; <a href="perl11.htm#3.1">1、文件重定位函数</a><br>
    &nbsp; <a href="perl11.htm#3.2">2、链接和符号链接函数</a><br>
    &nbsp; <a href="perl11.htm#3.3">3、文件许可权函数</a><br>
    &nbsp; <a href="perl11.htm#3.4">4、其他属性函数</a><br>
    <a href="perl11.htm#4">四、使用DBM文件</a><br>
  </blockquote>

  <p><a href="perl12.htm">第十二章 Perl5中的引用(指针)</a></p>
  <blockquote>
    <a href="perl12.htm#1">一、引用简介</a><br>
    <a href="perl12.htm#2">二、使用引用</a><br>
    <a href="perl12.htm#3">三、使用反斜线(\)操作符</a><br>
    <a href="perl12.htm#4">四、引用和数组</a><br>
    <a href="perl12.htm#5">五、多维数组</a><br>
    <a href="perl12.htm#6">六、子程序的引用</a><br>
    &nbsp; <a href="perl12.htm#6.1">子程序模板</a><br>
    <a href="perl12.htm#7">七、数组与子程序</a><br>
    <a href="perl12.htm#8">八、文件句柄的引用</a><br>
  </blockquote>

  <p><a href="perl13.htm">第十三章 Perl的面向对象编程</a></p>
  <blockquote>
    <a href="perl13.htm#1"> 一、模块简介</a><br>
    <a href="perl13.htm#2"> 二、Perl中的类</a><br>
    <a href="perl13.htm#3"> 三、创建类</a><br>
    <a href="perl13.htm#4"> 四、构造函数</a><br>
    <a href="perl13.htm#4.1"> &nbsp; &nbsp;.实例变量</a><br>
    <a href="perl13.htm#5"> 五、方法</a><br>
    <a href="perl13.htm#6"> 六、方法的输出</a><br>
    <a href="perl13.htm#7"> 七、方法的调用</a><br>
    <a href="perl13.htm#8"> 八、重载</a><br>
    <a href="perl13.htm#9"> 九、析构函数</a><br>
    <a href="perl13.htm#10"> 十、继承</a><br>
    <a href="perl13.htm#11"> 十一、方法的重载</a><br>
    <a href="perl13.htm#12"> 十二、Perl类和对象的一些注释</a><br>
  </blockquote>

  <p><a href="perl14.htm">第十四章 Perl5的包和模块</a></p>
  <blockquote>
    <a href="perl14.htm#1">一、require函数</a><br>
    &nbsp; <a href="perl14.htm#1.1">1、require函数和子程序库</a><br>
    &nbsp; <a href="perl14.htm#1.2">2、用require指定Perl版本</a><br>
    <a href="perl14.htm#2">二、包</a><br>
    &nbsp; <a href="perl14.htm#2.1">1、包的定义</a><br>
    &nbsp; <a href="perl14.htm#2.2">2、在包间切换</a><br>
    &nbsp; <a href="perl14.htm#2.3">3、main包</a><br>
    &nbsp; <a href="perl14.htm#2.4">4、包的引用</a><br>
    &nbsp; <a href="perl14.htm#2.5">5、指定无当前包</a><br>
    &nbsp; <a href="perl14.htm#2.6">6、包和子程序</a><br>
    &nbsp; <a href="perl14.htm#2.7">7、用包定义私有数据</a><br>
    &nbsp; <a href="perl14.htm#2.8">8、包和系统变量</a><br>
    &nbsp; <a href="perl14.htm#2.9">9、访问符号表</a><br>
    <a href="perl14.htm#3">三、模块</a><br>
    &nbsp; <a href="perl14.htm#3.1">1、创建模块</a><br>
    &nbsp; <a href="perl14.htm#3.2">2、导入模块</a><br>
    &nbsp; <a href="perl14.htm#3.3">3、预定义模块</a><br>
  </blockquote>

  <p><a href="func.htm">附录一 函数集</a></p>
  <blockquote>
    <a href="func.htm#1">一、进程处理函数</a><br>
    &nbsp; <a href="func.htm#1.1">1、进程启动函数</a><br>
    &nbsp; <a href="func.htm#1.2">2、进程终止函数</a><br>
    &nbsp; <a href="func.htm#1.3">3、进程控制函数</a><br>
    &nbsp; <a href="func.htm#1.4">4、其它控制函数 </a><br>
    <a href="func.htm#2">二、数学函数</a><br>
    <a href="func.htm#3">三、字符串处理函数</a><br>
    <a href="func.htm#4">四、标量转换函数</a><br>
    <a href="func.htm#5">五、数组和列表函数</a><br>
    <a href="func.htm#6">六、关联数组函数</a><br><br>
  </blockquote>

  <p align="center">第二部分 Perl的CGI应用</p>
  <p><a href="cgi1.htm">第一章 cgilib例</a></p>
  <p><a href="cgi2.htm">第二章 动态创建图像</a></p>

  <p><a href="cgi3.htm">第三章 计数器的编写方法</a></p>
  <blockquote>
    <a href="cgi3.htm#1">一、记录(log)文件</a><br>
    &nbsp; <a href="cgi3.htm#1.1">1、grep</a><br>
    &nbsp; <a href="cgi3.htm#1.2">2、page-stats</a><br>
    &nbsp; <a href="cgi3.htm#1.3">3、wusage</a><br>
    <a href="cgi3.htm#2">二、创建自己的计数器</a><br>
    &nbsp; <a href="cgi3.htm#2.1">1、使用DBM文件</a><br>
    &nbsp; <a href="cgi3.htm#2.2">2、文本文件</a><br>
    &nbsp; <a href="cgi3.htm#2.3">3、文件锁定</a><br>
    &nbsp; <a href="cgi3.htm#2.4">4、输出计数结果</a><br>
    &nbsp; <a href="cgi3.htm#2.5">5、www Homepage Access Counter</a><br>
    &nbsp; <a href="cgi3.htm#2.6">6、使用GD图形库</a><br>
  </blockquote>

  <p><a href="cgi4.htm">第四章 设置Web Server以运行CGI</a></p>
  <blockquote>
    <a href="cgi4.htm#1">一、NCSA Server</a><br>
    <a href="cgi4.htm#2">二、CERN httpd</a><br>
    <a href="cgi4.htm#3">三、Netscape Server</a><br>
    <a href="cgi4.htm#4">四、IIS</a>
  </blockquote>

  <footer>
    <div class="author">
      Official website:
      <a href="http://{{.Website}}">{{.Website}}</a> /
      Contact me:
      <a class="email" href="mailto:{{.Email}}">{{.Email}}</a>
    </div>
  </footer>
  <div class="backdrop"></div>
</body>
</html>
